body{

    margin:0;
    padding:0;
    background:#121212;
    color:white;
    font-family:Arial;

}

.container{

    width:700px;
    margin:50px auto;
    text-align:center;

}

h1{

    margin-bottom:30px;

}

button{

    padding:15px 40px;
    border:none;
    background:#0d6efd;
    color:white;
    font-size:18px;
    border-radius:10px;
    cursor:pointer;

}

button:hover{

    background:#084ec0;

}

.results{

    margin-top:40px;
    display:flex;
    justify-content:space-between;

}

.card{

    width:180px;
    background:#1d1d1d;
    border-radius:10px;
    padding:20px;

}

.card p{

    font-size:28px;
    color:#00ff99;

}

.loader{

    margin:30px auto;
    width:60px;
    height:60px;
    border:8px solid #333;
    border-top:8px solid #00ff99;
    border-radius:50%;
    animation:spin 1s linear infinite;
    display:none;

}

@keyframes spin{

    100%{

        transform:rotate(360deg);

    }

}