<!DOCTYPE html>
<html>

<head>
    <title>Internet Speed Test</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="container">

    <h1>Internet Speed Test</h1>

    <button id="startBtn">
        Run Speed Test
    </button>

    <div class="loader" id="loader"></div>

    <div class="results">

        <div class="card">
            <h2>Download</h2>
            <p id="download">-- Mbps</p>
        </div>

        <div class="card">
            <h2>Upload</h2>
            <p id="upload">-- Mbps</p>
        </div>

        <div class="card">
            <h2>Ping</h2>
            <p id="ping">-- ms</p>
        </div>

    </div>

</div>

<script src="/static/script.js"></script>

</body>

</html>